@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --foreground-rgb: 0, 0, 0;
  --background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --background-start-rgb: 219, 234, 254;
  --background-end-rgb: 219, 234, 254;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 219, 234, 254;
    --background-end-rgb: 219, 234, 254;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-color))) rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-main {
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer-main {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
